div{
    height: 100px;
    width: 150px;
    background: #e06b0c;
}

.div_1{
    background-color: #035c70;
}
.div_2{
    background-color: rgb(37, 211, 255);
}
.div_3{
    background-color: rgb(119, 0, 255);
}
.div_4{
    background-color: rgb(255, 0, 0);
}